.table th,
.table td {
    vertical-align: middle;
}

.table td.text-start {
    text-align: left !important;
}

.btn-outline-primary,
.btn-outline-danger {
    min-width: 40px;
    margin-left: 1rem;
}

.table .alert {
    margin: 0;
    padding: 8px;
}
